<app-app-operation (add)="isVisible = $event"></app-app-operation>
<div *ngIf="isVisible" class="form"
    style="margin-top: -105px; padding: 20px; border: 1px solid #ccc; border-radius: 8px; width: 300px;">
    <h3 style="color: black">Registrar Ingreso Producto</h3>

    <p-floatLabel [style]="{'margin-top': '25px'}">
        <input pInputText id="nombre" [formControl]="nombre" [style]="{ width: '250px' }" />
        <label style="color: black" for="nombre">Nombre</label>
    </p-floatLabel>
    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
        <small *ngIf="nombre.errors?.['required']">El nombre es obligatorio.</small>
        <small *ngIf="nombre.errors?.['pattern']">El nombre debe contener solo letras.</small>
    </div>

    <p-floatLabel [style]="{'margin-top': '25px'}">
        <input pInputText id="cantidad" [formControl]="cantidad" [style]="{ width: '250px' }" />
        <label style="color: black" for="cantidad">Cantidad</label>
    </p-floatLabel>
    <div *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)">
        <small *ngIf="cantidad.errors?.['required']">La cantidad es obligatoria.</small>
        <small *ngIf="cantidad.errors?.['pattern']">La cantidad debe ser un número.</small>
    </div>

    <p-floatLabel [style]="{'margin-top': '25px'}">
        <p-dropdown [options]="opcionesMetodosPago" inputId="metodoPago" [style]="{ width: '250px' }" [showClear]="true"
            [checkmark]="true" [(ngModel)]="metodoPago" />
        <label style="color: black" for="metodoPago">Método Pago</label>
    </p-floatLabel>

    <p-floatLabel [style]="{'margin-top': '25px'}">
        <input pInputText id="idHuesped" [formControl]="idHuesped" [style]="{ width: '250px' }" />
        <label style="color: black" for="idHuesped">Id Huésped</label>
    </p-floatLabel>
    <div *ngIf="idHuesped.invalid && (idHuesped.dirty || idHuesped.touched)">
        <small *ngIf="idHuesped.errors?.['required']">El Id del huésped es obligatorio.</small>
        <small *ngIf="idHuesped.errors?.['pattern']">El Id del huésped debe ser numérico.</small>
    </div>

    <div style="margin-top: 35px">
        <p-button (onClick)="cancelRecord()" [text]="true" label="Cancelar" [rounded]="true"
            [style]="{'color': 'black', 'font-size': '10px', 'margin-left': '60px'}"></p-button>
        <p-button label="Guardar" icon="pi pi-save" [rounded]="true"
            [style]="{'background-color': 'limegreen','border-color':'limegreen', 'color': 'black', 'font-size': '10px', 'margin-left': '10px'}"></p-button>
    </div>
</div>
<p-table [(selection)]="selectedIngresoProducto" dataKey="idHuesped" [value]="ingresoProducto" scrollable="true"
    scrollHeight="300px" class="small-table" [style]="{
              'height':'300px',
              'width': '750px',
              'border-radius': '5px',
              'overflow': 'hidden',
              'margin-top':'20px',
              'margin-left': '230px'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Acción</th>
            <th>Id Producto</th>
            <th>Cantidd</th>
            <th>Monto</th>
            <th>Método Pago</th>
            <th>Fecha</th>
            <th>Id Huésped</th>
            <th>Id Recepcionista</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-IngresoProducto>
        <tr>
            <td style="display: flex;">
                <p-tableCheckbox [value]="ingresoProducto" [style]="{
                  'margin-right':'5px',
                  'margin-top' : '-1px'
                }" />
                <p-button icon="pi pi-pen-to-square" [text]="true" class="p-button-text" [style]="{ 
                  'color': 'orange',
                  'margin-top': '0', 
                  'border-radius': '5px', 
                  'margin-left':'5px',
                  'padding': '0px'
                   }" />
            </td>
            <td>{{IngresoProducto.idProducto}}</td>
            <td>{{IngresoProducto.cantidad}}</td>
            <td>{{IngresoProducto.monto}}</td>
            <td>{{IngresoProducto.metodoPago}}</td>
            <td>{{IngresoProducto.fecha}}</td>
            <td>{{IngresoProducto.idHuesped}}</td>
            <td>{{IngresoProducto.idRecepcionista}}</td>
        </tr>
    </ng-template>
</p-table>
<p class="p1">
    <input class="box" type="checkbox" (change)="toggleSelectAll($event)" [checked]="isAllSelected()" /> Seleccionar
    todo
</p>
<p class="p2">Resultado:{{ingresoProducto.length}}</p>